name: linux

on:
  push:
    branches:
      - '*'
  #   tags-ignore:
  #     - '*'
  workflow_dispatch:
#  pull_request:

jobs:
  perl:
    env:
      # some plugins still needs this to run their tests...
      PERL_USE_UNSAFE_INC: 0
      AUTHOR_TESTING: 1
      AUTOMATED_TESTING: 1
      RELEASE_TESTING: 1

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        perl-version:
          - 'latest'
          - '5.40'
          - '5.34'
          - '5.28'
          - '5.20'
          # - '5.18' No dzil
          # - '5.16' No dzil
          # - '5.10' No dzil

    container:
      image: perldocker/perl-tester:${{ matrix.perl-version }}

    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@v4
      - id: explore-tools-perl
        name: perl -V
        run: perl -V
      # - name: Install Dependencies
      #   #run: cpm install -g --no-test --show-build-log-on-failure --cpanfile cpanfile
      #   run: cpm install -g --no-test --show-build-log-on-failure --cpanfile cpanfile
      # - name: Makefile.PL
      #   run: perl Makefile.PL
      - id: install-dzil-author-deps
        name: Install Dist::Zilla Author Dependencies
        run: dzil authordeps --missing --versions | cpanm --verbose --force --notest || true
      - id: install-dzil-deps
        name: Install Dependencies
        run: dzil listdeps --missing --develop --requires --recommends --suggests --version | cpanm --verbose --force --notest || true
      - id: run-test-suite
        name: Run Tests
        run: dzil test --all --test-verbose
